.image-header {
    position: relative;
    height: 700px;
    background-size: cover;
    background-position: center;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: start;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.title-header {
    font-size: 6em;
    font-weight: 800;
    margin: 0;
}

.subtext {
    font-size: 2.2em;
    margin: 10px 0;
    line-height: 35px;
}

.cta-button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #b71c1c;
}

.booking-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 300px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../Images/bob1.png');    
    position: relative;
    width: 100%; 
    padding: 20px; 
}

.booking-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(49, 112, 234, 0.75), rgba(255, 0, 0, 0.75));
    z-index: 1;
}

.booking-form {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border: solid #a9040b 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 900px; 
}

.booking-form div {
    margin-bottom: 10px;
}

.booking-form label {
    display: block;
    font-weight: bold;
}

.booking-form input,
.booking-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.booking-form button {
    width: 100%;
    padding: 10px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
}

.booking-form button:hover {
    background-color: #b71c1c;
}

@media (max-width: 1200px) {
    .title-header {
        font-size: 4.5em;
    }

    .subtext {
        font-size: 1.1em;
    }

    .booking-form {
        width: 60%; 
    }
}

@media (max-width: 768px) {
    .title-header {
        font-size: 3em;
    }

    .subtext {
        font-size: 1em;
    }

    .booking-container {
        padding: 10px;
    }

    .booking-form {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    .title-header {
        font-size: 1.5em;
    }

    .subtext {
        font-size: 0.9em;
    }

    .cta-button {
        padding: 8px 16px;
    }
}
