.CU-Section1 {
  position: relative;
  width: 100%;
  height: 60vh;
  background: url('/src/Images/bobablue.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.CU-Section1 .overlay {
  padding: 20px;
  border-radius: 10px;
}

.CU-Section1 h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 800;
}

.CU-Section1 p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.CU-Section1 .cta-button {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.CU-Section1 .cta-button:hover {
  background-color: #fff;
  color: #3083ff;
}

.c-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #8ec9c5, #e3fcfe);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
  }
  
  .c-container:after {
    content: '';
    position: absolute;
    width: 75%;
    height: 75%;
    left: 0;
    top: 0;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
  }
  .bgcolor123{
    background-color: #424242;
  }
  .contact-box {
    max-width: 1550px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  }
  
label{
    text-align: left;
    display: block;}  

  .left {
    width: 450px;
    background-size: cover;
    height: 100%;
  }
  
  .right {
    width: 450px;
    padding: 40px 20px;
  }
  
  h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
  }
  
  h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #3083ff;
  }
  
  .field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
  }
  
  .field:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  textarea {
    min-height: 150px;
  }
  
  .btn {
    width: 30%;
    padding: 0.5rem 1rem;
    background-color: #3083ff;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #424242;
    color: #3083ff;
  }
  
  .field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
  }
  
  @media screen and (max-width: 880px) {
    .contact-box {
      grid-template-columns: 1fr;
      max-width: 100%;
      
    }
    .c-container {
      background: white;
    }
    .contact-box {
      background-color: #fff;
      box-shadow: none;
    }
  
    .left {
      height: 200px;
    }
  }
  