body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;        
  background-size: cover;
  background-position: center;
  padding: 25px;
}

#homepage {
  transition: background-image 1s ease-in-out;
  background-attachment: fixed;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#boba{
  background-image: url('/src/Images/bobo1.png');
}

.product-head h1{
  margin-top: 20px;
  color: #3083ff;
  font-weight: 600;
}

#mocktail{
  background-image: url('/src/Images/2-01.png');
}

#cocktail{
  background-image: url('/src/Images/cock-01.png');
}

#book{
  background-image: url('/src/Images/oborb.png');
}

#products{
  background-image: url('/src/Images/products.png');
}

#contact{
  background-image: url('/src/Images/contactt-01.png');
}

#about{
  background-image: url('/src/Images/3.png');
}

#events{
  background-image: url('/src/Images/3.png');
}

.content {
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}

.content .title {
  font-size: 6em;
  font-weight: 800;
  margin-bottom: 20px;
  color: white;
}

.content .description {
  font-size: 1.4vw;
  margin-bottom: 20px;
  color: white !important;
  line-height: 1.5;
}

.content .cta-button {
  background-color: white;
  color: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2vw;
}

.content .cta-button:hover {
  background-color: #0056b3;
  color: #fff;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.text-container {
  max-width: 600px;
  margin-left: 40px;
}

.text-container h3 {
  font-size: 24px;
  color: #555;
}

.text-container h2 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  margin: 20px 0;
}

.text-container p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.text-container .cta-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

a{
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover{
  color: #fff;
}

#cta-button a{
  color: #3083ff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
#cta-button a:hover{
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

.text-container .cta-button:hover {
  background-color: #0056b3;
}

.section3 {
  padding: 20px;
  text-align: center;
  background-color: #3083ff;
}

.section3 .header h2 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.section3 .header p {
  font-size: 1.3rem;
  color: #fff;
}

.section3 .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  margin-top: 20px;
}

.section3 .grid-item {
  background-blend-mode: darken;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  flex: 1 1 calc(33.333% - 40px);
  max-width: calc(33.333% - 40px);
}

.section3 .grid-item .circle {
  width: 260px; 
  height: 260px; 
  margin: 0 auto 10px;
  border-radius: 50%;
  border: #fff 5px solid;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 .grid-item .circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section3 .grid-item p {
  font-size: 18px;
  color: #fff;
  margin: 10px 0 0;
}

.section3 .cta-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #3083ff;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.section3 .cta-button:hover {
  background-color: #0056b3;
}

.section4 {
  text-align: center;
  background-color: #fff;
  padding: 40px 20px;
}

.section4 .header h2 {
  font-size: 36px;
  font-weight: bold;
  color: #3083ff;
  margin-bottom: 20px;
}

.section4 .header p {
  font-size: 18px;
  color: #333;
  margin-bottom: 40px;
}

.section4 .reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.section4 .review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  text-align: left;
}

.section4 .review-image {
  width: 150px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section4 .review-text {
  color: #333;
  margin-left: 20px;
}

.section4 .review-text p {
  margin: 10px 0;
}

.section4 .stars {
  color: #ffc107;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .section3 .grid-item {
    flex: 1 1 calc(50% - 40px);
    max-width: calc(50% - 40px);
  }

  .section3 .grid-item .circle {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .section3 .grid-item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .content ,.description{
    font-size: 3vw;
  }

  .section3 .grid-item .circle {
    width: 150px;
    height: 150px;
  }

  .homepage{
    padding-top: 20%;
  }
  
}

@media (max-width: 480px) {
  

  .section3 .grid-item {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .section3 .grid-item .circle {
    width: 120px;
    height: 120px;
  }
}


@media (max-width: 768px) {
  .content .title {
    font-size: 8vw;
  }

  .content .description {
    font-size: 3vw;
  }

  .content .cta-button {
    font-size: 3vw;
  }
  .section2 {
    flex-direction: column;
    text-align: center;
  }

  .text-container {
    margin-left: 0;
    margin-top: 20px;
  }

  .text-container h1 {
    font-size: 28px;
  }

  .text-container p {
    font-size: 16px;
  }

  .text-container .cta-button {
    font-size: 14px;
  }
  .section3 .header h1 {
    font-size: 28px;
  }

  .section3 .header p {
    font-size: 16px;
  }

  .section3 .grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .section3 .circle {
    width: 120px;
    height: 120px;
  }

  .section3 .grid-item p {
    font-size: 14px;
  }

  .section3 .cta-button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .content .title {
    font-size: 15vw;
  }
  .homepage{
    padding-left: 1px;
  }

  .content .description {
    font-size: 4vw;
  }

  .content .cta-button {
    font-size: 4vw;
  }
}

@media (max-width: 480px) {
  .text-container h1 {
    font-size: 24px;
  }

  .text-container p {
    font-size: 14px;
  }

  .text-container .cta-button {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .section3 .header h1 {
    font-size: 24px;
  }

  .section3 .header p {
    font-size: 14px;
  }

  .section3 .circle {
    width: 100px;
    height: 100px;
  }

  .section3 .grid-item p {
    font-size: 12px;
  }

  .section3 .cta-button {
    font-size: 12px;
  }
}


@media (min-width: 768px) {
  .section4 .reviews {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .section4 .review-card {
    flex-direction: row;
    max-width: 100%;
  }

  .section4 .review-image {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .section4 .header h1 {
    font-size: 28px;
  }

  .section4 .header p {
    font-size: 16px;
  }

  .section4 .review-card {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .section4 .header h1 {
    font-size: 24px;
  }

  .section4 .header p {
    font-size: 14px;
  }

  .section4 .review-card {
    max-width: 100%;
  }
}
