.product-page-container {
    background-image: url('../bobablue.png'); /* Update with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  
  .product-page-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .product-page-title {
    font-size: 3.5em;
    letter-spacing: 0px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .product-page-description {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #222222;
  }
  
  .product-page-cta-button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #3083ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-page-cta-button:hover {
    background-color: #810000;
    color: #fff;
  }
  

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .product-main {
    padding: 20px;
    text-align: center;
  }
  
  .product-head h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .product-head p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 40px auto;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .product-card {
    background: #fff;
    border: 2px solid #00f;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    height: 500px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .product-image {
    background-size: cover;
    background-position: center;
    border: 2px solid #00f;
    border-radius: 8px;
    height: 250px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
  }
  
  .product-card:hover .product-image {
    background: #e0e0e0;
  }
  
  .product-info h3 {
    color: #0056b3;
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .product-info p {
    font-size: 1em;
    color: #333;
  }
  
  .show-more-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .show-more-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 1068px) {
    .product-card {
      max-width: 250px;
      padding: 15px;
    }
  
    .product-image {
      height: 120px;
    }
  }
  
  @media (max-width: 480px) {
    .product-card {
      max-width: 350px;
      padding: 10px;
      background: #fff;
      border: 2px solid #00f;
      border-radius: 8px;
      padding: 20px;
      width: 100%;
      height: 400px;
      max-width: 400px;
    }
  
    .product-image {
      height: 250px;
    }
    
  }
  