body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.product-main {
  padding-bottom: 10px;
  text-align: center;
}

.product-page-container {
  background-image: url('../Images/bobablue.png');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  padding-left: 20px;
}

.product-page-content {
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-page-content:hover {
  transform: translateY(-10px);
}

.product-page-title {
  font-size: 6em;
  font-weight: 800;
  margin-bottom: 20px;
  color: #fff;
}

.product-page-description {
  font-size: 1.2em;                                                      
  margin-bottom: 30px;
  color: #f8f8f8;
}

.product-page-cta-button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #93beff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s;
}

.product-page-cta-button:hover {
  background-color: #810000;
  color: #fff;
  transform: scale(1.1);
}

.product-head h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.product-head p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto 40px auto;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  height: 500px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: left;
  animation: fade-in 1s ease-in-out;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
  background-size: cover;
  background-position: center;
  border: 2px solid #339af0;
  border-radius: 8px;
  height: 250px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.product-info h3 {
  color: #0056b3;
  font-size: 1.2em;
  margin: 10px 0;
}

.product-info p {
  font-size: 1em;
  color: #333;
}

.show-more-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #339af0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.show-more-button:hover {
  background-color: #0056b3;
}

@media (max-width: 1068px) {
  .product-card {
    max-width: 250px;
    padding: 15px;
  }

  .product-image {
    height: 120px;
  }
}

@media (max-width: 480px) {
  .product-card {
    max-width: 350px;
    padding: 10px;
    background: #fff;
    border: 2px solid #00f;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    height: 400px;
    max-width: 400px;
  }

  .product-image {
    height: 250px;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
